<!-- views/shop/product-detail.ejs -->
<%- include('../partials/header') %>

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="<%= product.name %>" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="/images/<%= product.image %>">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"><%= product.name %></h1>
        
        <p class="leading-relaxed"><%= product.description %></p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
          <div class="flex items-center">
            <span class="mr-3">Quantity</span>
            <input type="number" name="quantity" min="1" value="1" class="w-16 border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500">
          </div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900">$<%= product.price.toFixed(2) %></span>
          <form class="flex ml-auto" action="/add-to-cart" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="productId" value="<%= product._id %>">
            <input type="hidden" name="quantity" value="1" id="quantityInput">
            <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Add to Cart</button>
          </form>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>

<!-- Script to handle the quantity input -->
<script>
  const quantityInput = document.querySelector('input[name="quantity"]');
  const formQuantityInput = document.getElementById('quantityInput');

  quantityInput.addEventListener('input', () => {
    formQuantityInput.value = quantityInput.value;
  });
</script>